# Prerequisites
*.d
*.vsidx
*.ipch
*.suo
*.vc.db
*.json
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.sln
*.tlog
*.lastbuildstate
*.exe.recipe
*.ilk
*.log
*.idb
*.exe.recipe
*.ilk
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
